body{
    background-color: wheat;
}
.box{
    background-repeat: no-repeat;
    background-size:cover ;
    white-space: pre;
}
.hf{
    font-size: 100px;
    font-style: oblique;
    color: rgb(119, 129, 107);
}
.ht{
    font-size: 70px;
    font-style: italic;
    color:rgb(119, 129, 107)
}
.option{
    color:white;
    background-color: rgb(119, 129, 107);
    padding: 10px 10px ;   
}
.pic{
    width:700px;
    margin: 20px 150px;
    border-radius: 25px;
    box-shadow: 30px 30px 30px grey;
}
.half-width{
    float:left;
    width:40%;
}
h2{
    width:70%;
    text-align: center;
    margin: 5px 300px;

}